@import "tailwindcss";

:root {
  --background: 0 0% 0%;       
  --foreground: 0 0% 100%;     
  --container: 100vw;          
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


main {
  max-width: none;
  margin-inline: 0;
  width: 100%;
}


body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  overflow-x: hidden;
}
